<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Susten Nutri - Portal Industrial</title>
    <!-- link do bootstrap - antes do css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- link do bootstrap - icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- link do css -->
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

<header class="cabeça_do_base">
    <div>
        <div class="logo-area">
            <h1>SUSTEN NUTRI</h1>
            <p>Industrial Portal</p>
        </div>

        <nav class="barra_dos_links">
            <a href="{{ url_for('dashboard') }}" class="barra_de_navegaçao {% if request.endpoint == 'dashboard' %}active{% endif %}"> <span>Dashboard</span></a>
            <a href="{{ url_for('galpoes') }}" class="barra_de_navegaçao {% if request.endpoint in ['galpoes', 'estrutura'] %}active{% endif %}"> <span>Galpões</span></a>
            <a href="{{ url_for('blocos') }}" class="barra_de_navegaçao {% if request.endpoint == 'alertas' %}active{% endif %}"> <span>Blocos</span></a>
            <a href="{{ url_for('sensores') }}" class="barra_de_navegaçao {% if request.endpoint == 'sensores' %}active{% endif %}"> <span>Sensores</span></a>
            <a href="{{ url_for('insumos') }}" class="barra_de_navegaçao {% if request.endpoint == 'insumos' %}active{% endif %}"> <span>Insumos</span></a>
            <a href="{{ url_for('alertas') }}" class="barra_de_navegaçao {% if request.endpoint == 'alertas' %}active{% endif %}"> <span>Alertas</span></a>
        </nav>
    </div>

    <div class="barra_parte_configuraçao">
        <a href="#" class="barra_de_navegaçao"> <span>Settings</span></a>
        <a href="{{ url_for('logout') }}" class="barra_de_navegaçao"><span style="color: red;">Logout</span></a>
    </div>
</header>

<main class="fechamento">
    {% block content %}
    {% endblock %}
</main>


<!-- link do javascript para o bootstrap - final do body -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>


<script src="/static/js/verificacoes.js"></script>
<script src="/static/js/apis.js"></script>

</body>
</html>
