{% extends 'base.html' %}

{% block content %}
<div class="area_cabeça">
    <div class="area_do_titulo">
        <h2>Gerenciamento de Galpões</h2>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        + ADICIONAR NOVO GALPÃO
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="card_login" action="{{ url_for('galpoes') }}" method="post">
                        <div class="card_login">
                            <h1>NOVO GALPÃO</h1>
                            <label>
                            Nome:
                            <input id="input-nome" type="text" placeholder="Digite o nome do Galpão" name="form_nome"
                                   class="form-control"><br></label>
                            <label>
                            Descrição:
                            <input id="input-descricao" type="text" placeholder="Digite a Descrição" name="form_descricao"
                                   class="form-control"
                                   required><br></label>
                            <button type="submit" class="btn btn-info">Cadastrar</button>

                            <br>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="formaçao_dos_cards">
    <div class="card">
        <div class="card_titulo">Total Galpões</div>
        <div class="card_valor">12</div>
    </div>
    <div class="card">
        <div class="card_titulo">Capacidade Total</div>
        <div class="card_valor">48 blocos</div>
    </div>
    <div class="card">
        <div class="card_titulo">Alertas Ativos</div>
        <div class="card_valor alerta-ativo-valor">2</div>
    </div>
</div>

<div class="tabela">
    <table class="formato_tabela">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOME DO GALPÃO</th>
            <th>QTD. BLOCOS</th>
            <th>STATUS</th>
            <th>AÇÕES</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#GLP-001</td>
            <td>Galpão Norte Alfa</td>
            <td>45</td>
            <td><span class="badge badge-online">OPERACIONAL</span></td>
            <td>Visualizar | Editar | Excluir</td>
        </tr>
        <tr>
            <td>#GLP-002</td>
            <td>Galpão Sul Beta</td>
            <td>60</td>
            <td><span class="badge badge-capacidade-alerta">MANUTENÇÃO</span></td>
            <td>Visualizar | Editar | Excluir</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
