{% extends 'base.html' %}

{% block content %}
<div class="area_cabeça">
    <div class="area_do_titulo">
        <h2>Gerenciamento de Sensores</h2>
    </div>
    <button class="btn-primary">+ Vincular Sensor</button>
</div>

<div class="container-centralizado-card">
    <div class="card card-largura-fixa">
        <div class="card_titulo">Total Ativos</div>
        <div class="card_valor">142</div>
    </div>
</div>

<div class="tabela">
    <table class="formato_tabela">
        <thead>
            <tr>
                <th>ID SENSOR</th>
                <th>TIPO</th>
                <th>SETOR VINCULADO (DER)</th>
                <th>DATA DE INSTALAÇÃO</th>
                <th>STATUS</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="id-sensor-mono">SN-TMP-1042</td>
                <td class="sensor-nome-tabela">Temperatura</td>
                <td>Mistura A - Linha 1</td>
                <td>12/Oct/2023</td>
                <td><span class="badge badge-online">ONLINE</span></td>
                <td>Editar | Desvincular</td>
            </tr>
            <tr>
                <td class="id-sensor-mono">SN-UMD-2015</td>
                <td class="sensor-nome-tabela">Umidade</td>
                <td>Armazém de Grãos Sul</td>
                <td>05/Nov/2023</td>
                <td><span class="badge badge-online">ONLINE</span></td>
                <td>Editar | Desvincular</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
